@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

* {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin: 10px auto;
  align-items: center;
  color: black;
}

nav ul {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  list-style-type: none;
  gap: 20px;
  color: black;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

main {
  margin: 10px auto;
  max-width: 1220px;
  border: 2px solid rgb(199, 76, 76);
}
